# Configurações do Servidor
PORT=3000

# Conexão com o PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=projeto_extensao
DB_PASSWORD=sua_senha_aqui
DB_PORT=5432

# Segurança
JWT_SECRET=sua_chave_secreta_super_segura_jwt
